@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.dark-mode {
  --bg-color: #1f242d;
  --second--bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

:root {
  --bg-color: #fdfdfd;
  --second--bg-color: rgba(216, 216, 216, 0.7);
  --text-color: #1f242d;
  --shadow-color: rgba(0, 0, 0, 0.7);
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 3rem;
  transition: 2s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--main-color);
  cursor: pointer;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 60%;
}

.home-content p {
  font-size: 1.6rem;
  margin-right: .5rem;
}

.socail-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}

.socail-media a:hover {
  background: var(--main-color);
  color: var(--second--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 1.8rem;
  background: var(--main-color);
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.5rem;
  color: var(--bg-color);
  letter-spacing: 0.3rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second--bg-color);
}

.about-img {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 63%;
  border-radius: 50%;
  border: 0.3rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 80%;
  height: 125%;
  border-radius: 50%;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-right: 0.6rem solid var(--main-color);
  border-left: 0.6rem solid var(--main-color);
  animation: aboutSpinner 8s infinite;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.about-content {
  width: 50%;
}

.about-img {
  width: 50%;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
  left: -1.1rem;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  overflow: hidden;
}

.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.services {
  background: var(--second--bg-color);
}

.services h2 {
  margin-bottom: 1rem;
}

.services .skill-intro{
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
}


.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 4rem;
  text-align: center;
  border: 0.8rem solid var(--second--bg-color);
  transition: 1s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 8rem;
  color: var(--main-color);
}

.services-box {
  font-size: 2.2rem;
}

.services-box p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
}

.portfolio {
  background: var(--bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 1s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 1s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2.5rem;
  color: var(--second--bg-color);
}

#testimonial {
  background: var(--bg-color);
}

.testimonial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
  position: relative;
  min-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 5rem;
  overflow: hidden;
}

.testimonial-content .testimonial-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--second--bg-color);
  border-radius: 5rem;
  box-shadow: 0 0 2rem var(--bg-color);
  padding: 3rem 5rem;
  border-top: 0.8rem solid var(--main-color);
  border-bottom: 0.8rem solid var(--main-color);
}

.testimonial-slide img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  outline: 0.5rem solid var(--main-color);
}

.testimonial-slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.testimonial-slide p {
  font-size: 1.4rem;
}

.testimonial-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
  color: var(--main-color);
}

.testimonial-box .swiper-button-next {
  right: 0;
}

.testimonial-box .swiper-button-prev {
  left: 0;
}

.testimonial-box .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
  background: var(--main-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second--bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 1s;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second--bg-color);
}

/* BREAKPOINTS */

@media (min-width: 1200px) {
  html {
    font-size: 55%;
  }
  
}

@media (max-width: 1000px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    margin-bottom: 7rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 900px) {
  .testimonial-box {
    width: 98%;
    height: 60vh;
  }
}

@media (max-width: 800px) {
  #menu-icon {
    display: block;
  }

  .logo {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem solid rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
  }

  .about .circle-spin {
    display: none;
  }

  .about-content {
    width: 100%;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar .testimonial {
    display: none;
  }

  .testimonial {
    display: none;
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .about-img {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #darkMode-icon {
    right: 6rem;
  }
}

@media (max-width: 400px) {
  .home-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

/* KeyFrame */

/* Home Img */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* About Img */
@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
